*{
    margin: 0;
    padding: 0;
    font-size: 100%;
}
@font-face {
  font-family: 'Norse';
  src: url('/norse/Norsebold.otf') format('opentype');
}

/* main containers */
body{
    display: flex;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    background-color: rgb(238, 236, 235);
}
.background{
    background:no-repeat 
    center/cover url(bg.avif);
    display: flex;
    flex-direction: column;
    flex: 0 1 30%;
    justify-content: space-between;
    align-items: center;
}
.signupform{
    display: flex;
    flex-direction: column;
    flex: 1 1 70%;
    overflow: auto;
}

/* left side inner elements */
.logocontainer{
    display: flex;
    background:rgba(17, 23, 1, 0.6); 
    width: 100%;
    justify-content: center;
    padding: 0.5rem 0;
    margin-top: 5rem;
}
.logocontainer img{
    width: 1.5rem;
}
.background h2{
    display: flex;
    color: white;
    align-items: center;
    font-family: 'Norse';
}
.background h2 span{
    font-size: 2rem;
}
.background p{
    justify-self: flex-end;
    color: white;
    font-size: 0.4rem;
}
.background a{
    color: rgb(222, 186, 186);
    font-size: 0.4rem;
}
.photoCredit{
    margin-bottom: 1rem;
    opacity: 80%;
}


/* right side inner elements */
.headerText h2{
    margin: 1rem 0.5rem;
}
.headerText h4{
    font-size: 0.5rem;
    margin: 1rem 0.5rem;
}
.container{
    display: flex;
    flex-direction: column;
}
form{
    display: flex;
    flex-direction: column;
}
form h3{
    font-size: 0.7rem;
    font-weight: lighter;
    margin: 0.25rem 0.5rem;
    font-family: 'Norse', sans-serif;
}
.labelscontainer{
    flex-wrap: wrap;
    border: 0.2px solid black;
    width: 70vw;
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    box-shadow: 0rem 0.5rem 0.95rem 0.1rem;
}
.field{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0.5rem;
}
.field label{
    font-size: 0.5rem;
}
.field input{
    outline: none;
    border: 1px solid black;
    border-radius: 4px;
    width: 5rem;
    height: 0.55rem;
    padding: 1px;
    font-size: 0.5rem;
    padding-left: 0.25rem;
}
.field input:focus{
    border: 1px solid blue;
    box-shadow: 0px 1px 1px 0.2px;
}
.field input:valid:not(:placeholder-shown){
    border: 1px solid blue;
    box-shadow: 0px 1px 1px 0.2px;
}
.field input:user-invalid{
    border: 1px solid red;
}
button{
    margin: 2rem 1rem;
    font-size: 0.7rem;
    font-family: 'Norse';
    background-color: #596D48;
    color: white;
    padding: 0.15rem 1rem;
    box-shadow: 0 1px 1px 0.5px #77af46;
    cursor: pointer;
}