*{
    margin: 0;
    padding: 0;
    font-size: 16px;
}

/* main containers */
body{
    display: flex;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
}
.background{
    background:no-repeat 
    center/cover url(bg.avif);
    display: flex;
    flex-direction: column;
    flex: 0 1 40%;
    justify-content: space-between;
    align-items: center;
}
.signupform{
    display: flex;
    flex-direction: column;
    background-color: green;
    flex: 1 1 60%;
}

/* left side inner elements */
.logocontainer{
    display: flex;
    background:rgba(17, 23, 1, 0.6); 
    width: 100%;
    justify-content: center;
    padding: 0.5rem;
    margin-top: 5rem;
}
.logocontainer img{
    width: 1.5rem;
}
.background h2{
    display: flex;
    color: white;
    align-items: center;
}
.background p{
    justify-self: flex-end;
    color: white;
    font-size: 0.4rem;
}
.background a{
    color: rgb(222, 186, 186);
    font-size: 0.4rem;
}
.photoCredit{
    margin-bottom: 1rem;
    opacity: 80%;
}
